@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;

}

/* colors */
.bgk-blue {
  background-color: #6c63ff !important;
}

.btn-blue {
  color: #fff;
  background-color: #6c63ff !important;
}

.txt-blue {
  color: #6c63ff;
}

.bg-grey {
  background-color: #dcdcdc;
}

.nav {
  padding: 15px;
}

.navbar-brand {
  font-weight: 700;
  font-size: 20px;
  color: #6c63ff;
}

.navbar-nav {
  font-size: 14px;
  font-weight: 500;

}

.nav-link active {
  color: #6c63ff;
}

/* .nav-link:hover{
  background-color: #6C63FF;
  color: #fff;
} */
/* .headertext{
  position: absolute;
  bottom: 50%;
  right:50%;
} */
.home {
  height: 80vh;
}

.headertext span {
  font-weight: 800;
}

.howeop {
  padding: 150px 0 50px 0 !important;
}

.steps {
  margin: 150px 0 50px 0 !important;
  padding: 100px;
}

.steps p {
  font-size: 12px;
  font-weight: 400;
}

.steps button {
  font-weight: 400;
  font-size: 14px;
}

.steps h3 {
  font-weight: 600;
  font-size: 18px;
}

.casefiles {
  padding: 150px 0 100px 0;
}

.headertext {
  padding: 250px 0 0 150px !important
}

.homeimg {
  padding: 100px 0 0 100px !important;
  width: 90%;
  height: 90%;
}

.headertext h1 {
  font-size: 3rem;
  font-weight: 400;
}

.headertext p {
  font-size: 12px;
}

.udashboardcontent h1,
.udashboardheader h1,
.lawyerProfile h1 {
  font-size: 3rem;
  font-weight: 600;
}

.aboutheader h1 {
  font-size: 3rem;
  font-weight: 500;
}

.udashboardheader p,
.lawyerProfile P {
  font-size: 1.5rem;
  font-weight: 400;
}

/* <how we operate> */

.contact h3,
.howeop h3 {
  font-weight: 600;
  font-size: 18px;
  word-break: break-all;
}

.aboutcontent h3 {
  font-size: 18px;
  font-weight: 600;
}

h5 {
  font-weight: 500;
  font-size: 16px;
}

.aboutheader {
  height: 80vh;
}

.aboutheader h4 {
  font-weight: 500;
  font-size: 18px;
}

.abouteam h6 {
  font-size: 18px;
  font-weight: 600;
}

.abouteam p {
  font-size: 12px;
}

.contact p,
.accessibility p,
.howeop p,
.udashboardcontent p {
  font-weight: 300;
  font-size: 12px;
  /* white-space: pre; */
}

/* <case files> */
.casefiles,
.lawyersection {
  height: auto;
}

.contact h3,
.abouteam h3,
.aboutheader h3,
.accessibility h3,
.caseheader h3 {
  font-size: 18px;
  font-weight: 600;
}

.aboutheader p,
.caseheader p {
  font-size: 12px;
}

.udashboardcontent h6 {
  font-size: xx-large;
  font-weight: 700;
}

.aboutcontent p {
  font-size: 12px;
}

.casefiles .card {
  padding: 20px;
}

.casefiles .card .card-title h4 {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 10px;
}

.casefiles .card .card-text p {
  font-weight: 400;
  font-size: 12px;
}

/* <.lawyersection> */
.lawyersection h4 {
  font-size: 18px;
}

.lawyersection p {
  font-size: 12px;
}

.headertext button,
.casefiles .card .card-text button {
  color: #fff;
  background-color: #6c63ff;
  border: none;
  border-radius: 6px;
  font-weight: 600;
}

.accessibility {
  padding: 100px 0;
}

/* <footer> */
.footer a {
  text-decoration: none;
}

.footer h1 {
  font-size: 30px;
}

.footer h6 {
  font-size: 18px;
}

.footer p {
  font-size: 12px;
}

@media only screen and (max-device-width: 480px) and (orientation: portrait) {
  .home {
    height: auto;
  }

  .headertext {
    padding: 100px 0 0 70px !important
  }

  .headertext img {
    display: none !important;
  }

  .headertext h1 {
    font-size: 18px;
    font-weight: 600;
  }

  .homeimg {
    padding: 50px 0 0 30px !important;
    width: 80%;
    height: 80%;
  }

  .howeop img,
  .abouteam img {
    width: 90%;
    height: 90%;
    padding-left: 25px;
  }

  .steps img {
    height: 100%;
    width: 100%;
  }

  .accessibility {
    padding: 10px 0 100px 0;
    margin: top 100px !important;
    ;
  }

  .accessibility img {
    width: 90%;
    height: 90%;
    padding-left: 50px;
  }

  .lawyersection img {
    width: 80%;
    height: 80%;
    padding-left: 55px;
  }

  .contact {
    padding-bottom: 100px;
  }

  .contact img {
    width: 90%;
    height: 90%;
    padding-left: 55px;
  }

  .b4footer {
    line-height: 30px;
  }

  .form {
    padding: 10px 0 50px 0px !important;
    border: none !important;
  }

  .form h1 {
    font-size: 18px;
    text-align: center;
  }

  .form label {
    font-size: 12px;
  }

  .form form button {
    font-size: 18px;
  }

  /* <about> */
  .aboutheader {
    height: auto;
  }

  .aboutheader h1 {
    font-size: 2rem;
    font-weight: 500;
  }

  .createcase {
    height: auto;
    background-color: #6c63ff;
  }

  .createcase img {
    padding: 100px 0 0 0 !important;
    width: 80%;
    height: 80%;
  }

  .createcase .col-md-5 {
    padding: 90px 0px 0px 0 !important;
  }

  .caseinfo button {
    width: 100% !important;
  }

  .caseinfo {
    padding: 50px 0 0 0 !important;
  }

  .lawyerProfile {
    font-weight: 600 !important;
    font-size: 1.5rem !important;
  }
}

/* <UserDashboard> */
.userDashboard h4 {
  font-size: 18px;
  font-weight: 600;
}

.userDashboard p {
  font-size: 12px;
  font-weight: 500;
}

.userdashboard h1 {
  font-size: 25px;
  font-weight: 600;
}

.userdashboard ul {
  font-size: 12px;
}

/* <Navbar> */
.navbar img {
  width: 15%;
  height: 10%;
}

.udashboard {
  padding: 60px 30px 0 30px;
}

.udashboard .nav button {
  padding: 15px 100px;

}

/* <Content> */
.udashboardheader .card {
  height: auto;
}

.udashboardcontent img {
  width: 40%;
  height: 40%;
}

.udashboardheader {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.udashboardcontent .row {
  padding: 140px 0px 0 0px;
}

/* .udashboardcontent{
width: 100%;
} */
/* <Ribbon> */
.box {
  position: relative;
  height: 400px;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}

.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 5px solid #6c63ff;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #6c63ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 700 18px/1 "Lato", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
}

.ribbon-top-left {
  top: -10px;
  left: -10px;
}

.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}

.ribbon-top-left::before {
  top: 0;
  right: 0;
}

.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}

.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

/* <lawyersection> */
/* .lawyerProfile img{
width: 40%;
height: 100%;
} */

.profileinfo p {
  font-weight: 400;
  font-size: 14px;
}

.profileinfo h5 {
  font-weight: 700;
  font-size: 14px;
}

.profileinfo h6 {
  font-weight: 500;
  font-size: 14px;
}

.profileinfo h1 {
  font-size: 4rem;
  font-weight: 700;
}

.progress-bar {
  font-size: 12px;
  font-weight: 500;
}

/* <Case Info> */
/* .caseinfo{
  position: absolute;
  top:0;
  width: 100%;
  height:100%;
  
} */
.caseinfo {
  padding: 100px 0 0 0;
}

.caseinfo h4 {
  font-weight: 700;
  font-size: 18px;
}

.caseinfo p {
  font-weight: 400;
  font-size: 12px;
  color: gray;
}

/* <contactsection/> */
.contactsection {
  padding: 100px 0
}

.contactsection h1 {
  font-weight: 700;
  font-size: 5rem;
}

.contactsection p {
  font-weight: 600;
  font-size: 1.5rem;
}

.form {
  padding: 128px 50px 50px 0;
}

.form h1 {
  font-size: 28px;
  text-align: center;
}

.form label {
  font-size: 12px;
}

.form form button {
  font-size: 18px;
}

.signin {
  padding: 100px 200px 50px 0;
}

/* <create case> */
.createcase {
  height: auto;
  background-color: #6c63ff;
}

.createcase h4 {
  font-weight: 600;
  font-size: 18px;
}

.createcase img {
  padding: 200px 0 0px 150px;
  width: 80%;
  height: 80%;
}

.createcase .col-md-5 {
  padding: 90px 60px 0px 0;
}

.createcase form label {
  font-weight: 600;
  font-size: 12px;
  padding-bottom: 5px;
}

.createcase form input {
  height: 45px;
}

.createcase form button {
  font-weight: 500;
  font-size: 16px;
}

.profileinfo h5 {
  font-size: 17px;
}

.profileinfo p {
  font-size: 13px;
}

.profileinfo h6 {
  font-size: 12px;
}

.profileinfo h1 {
  font-size: 50px;
}